#playlist {
    display: table;
}

    #playlist li {
        cursor: pointer;
        padding: 8px;
    }

        #playlist li:hover {
            color: blue;
        }

#videoarea {
    float: left;
    width: 640px;
    height: 480px;
    margin: 10px;
    border: 1px solid silver;
}
